<p>playlists-view works!</p>
<div class="row">
    <div class="col">
        <app-playlists-list [items]="playlists" [selected]="selected"
        (selected)=" selected = $event "></app-playlists-list>
    </div>
    <ng-template class="col"  [ngIf]=" mode === 'details' ">
        <div class="col">
            <app-playlist-details [selected]="selected"
            (mode)="mode = $event"
            (deleteElement)="deleteElement($event)"></app-playlist-details>            
        </div>
    </ng-template>
    <ng-template  class="col" [ngIf]=" mode === 'edit' ">
        <div class="col">
        <app-playlist-editor 
        [selectedPlaylist]="selected"
        (mode)="mode = $event"
        (savedElement)="editElement($event)" 
        (newElement)="addElement($event)"></app-playlist-editor>
        
        </div>
    </ng-template >
</div>
