<p>playlists-list works!</p>

<div class="lisg-group">
    <div class="list-group-item"*ngFor=" 
    let playlist of playlists"
    (click)="onSelect(playlist)"
    [ngClass]="{'active': selectedItem === playlist}"
    >
        <dl [title]="playlist">
            <dt>Name:</dt>
            <dd>{{playlist?.name}}</dd>
    
            <dt>Public</dt>
            <dd class="isPlaylist?Public"
            [class.public]="playlist?.publicPlaylistAttr"
            [class.private]="!playlist?.publicPlaylistAttr"
            >{{playlist?.publicPlaylistAttr? 'Yes':'No'}}</dd>
    
            <dt>Description</dt>
            <dd>{{playlist?.description}}</dd>
        </dl>
    </div>
</div>