<div *ngIf="album !== undefined">
  <div class="card" [routerLink]="['/music/albums']"[queryParams]="{id :album.id}">
    <img
      [src]="album.images[0].url"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    </div>
  </div>
</div>
