<div class="row">
  <div class="col">
    <h3>Album nme</h3>
    <small class="text-muted">{{id}} </small>
  </div>
</div>

<div class="row">
  <div class="col" *ngIf="album">
    <app-album-card [album]="album"></app-album-card>
  </div>
  <div class="col">
    <audio #audioRef controls class="w-100 mb-3"></audio>
    <dl>
      <dt>Album Name:</dt>
      <dd>{{album?.name}}</dd>
      <dt>Artist Name:</dt>
      <dd *ngFor="let artist of album?.artists">{{artist.name}}</dd>
      <dt>Tracks:</dt>      
        <dd *ngFor="let track of album?.tracks?.items" (click)="playTrack(track)">{{track.track_number}}. {{track.name}} {{track.external_urls.spotify}}</dd>      
    </dl>
  </div>
</div>
