<div class="input-group mb-3">
  <input
    [(ngModel)]="searchPhrase"
    type="text"
    class="form-control"
    placeholder="Search"
  />
  <button (click)="onSearchButtonClick(searchPhrase)" class="btn btn-outline-secondary" type="button">
    Search
  </button>
</div>

