<div *ngIf="draft != undefined">
  <p>Playlist editor!</p>
  
  <div class="form-group mb-3">
      <label>Name:</label>
      <input id="name" [(ngModel)]="draft.name" type="text" class="form-control" (keyup)="{}" #itemNameRef>
      <p class="text-muted">{{itemNameRef.value.length}}/180</p>
    </div>
  
    <div class="form-group mb-3">
      <label><input id="publicAttribute" type="checkbox" [(ngModel)]="draft.publicPlaylistAttr" [checked]="draft.publicPlaylistAttr"> Public</label>
    </div>
  
    <div class="form-group mb-3">
      <label>Description:</label>
      <textarea id="discription" class="form-control" [(ngModel)]="draft.description"></textarea>
    </div>
    <button class="btn btn-info" (click)="switchToDetailsMode()">Cancel</button>
    <button class="btn btn-info" (click)="onSaveElement()">{{editOrSaveMode}}</button>
</div>