<p>Playlist details!</p>

<div class="form-group mb-3">
    <dl [title]="playlist">
      <dt>Name:</dt>
      <dd>{{playlist?.name}}</dd>

      <dt>Public</dt>
      <dd class="isPlaylist?Public"
      [class.public]="playlist?.publicPlaylistAttr"
      [class.private]="!playlist?.publicPlaylistAttr"
      >{{playlist?.publicPlaylistAttr? 'Yes':'No'}}</dd>

      <dt>Description</dt>
      <dd>{{playlist?.description}}</dd>
  </dl>    
  </div>
  <button class="btn btn-info" (click)="switchToEditMode()">{{editOrAddMode}}</button>
  <button class="btn btn-info" (click)="deleteElement()">Delete</button>
